<ion-footer>
    <ion-toolbar>
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col></ion-col>
                <ion-col size="auto">
                    <div class="footer-text">
                        <p>©&nbsp;2022&nbsp;广州璧和信息科技有限公司&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;<a href="http://beian.miit.gov.cn" target="_blank" id="beianhao">粤ICP备2021094871号-1</a></p>
                        <p>联系电话：18022387330&nbsp;&nbsp;&nbsp;电子邮箱：web@genson.cn（周一至周日，9:00-18:00）</p>
                        <p>联系地址：广州市天河区黄埔大道西76号2415室（部位：A）（仅限办公）&nbsp;&nbsp;&nbsp;客服及举报电话：18022387330</p>
                    </div>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
