<div class="weui-mask" [ngClass]="{ 'weui-mask__in': shown }" (click)="hide(true)"></div>
<div class="weui-dialog weui-password" [ngClass]="{'weui-dialog__in': shown}">
    <div class="weui-dialog__hd">
        <strong class="weui-dialog__title">{{title}}</strong>
    </div>
    <div class="weui-dialog__bd">
        <div #container class="app-password" [class.app-password__in]="shown">
            <form [formGroup]="form">
                <ion-grid>
                    <ion-row>
                        <ion-col></ion-col>
                        <ion-col size="auto">
                            <input type="password" (ngModelChange)="inputChange(0,$event)" (keyup.backspace)="del(0)"
                                   formControlName="0">
                        </ion-col>
                        <ion-col size="auto">
                            <input type="password" (ngModelChange)="inputChange(1,$event)" (keyup.backspace)="del(1)"
                                   formControlName="1">
                        </ion-col>
                        <ion-col size="auto">
                            <input type="password" (ngModelChange)="inputChange(2,$event)" (keyup.backspace)="del(2)"
                                   formControlName="2">
                        </ion-col>
                        <ion-col size="auto">
                            <input type="password" (ngModelChange)="inputChange(3,$event)" (keyup.backspace)="del(3)"
                                   formControlName="3">
                        </ion-col>
                        <ion-col size="auto">
                            <input type="password" (ngModelChange)="inputChange(4,$event)" (keyup.backspace)="del(4)"
                                   formControlName="4">
                        </ion-col>
                        <ion-col size="auto">
                            <input type="password" (ngModelChange)="inputChange(5,$event)" (keyup.backspace)="del(5)"
                                   formControlName="5">
                        </ion-col>
                        <ion-col></ion-col>
                    </ion-row>
                </ion-grid>
            </form>
          <p class="error" *ngIf="error">{{error}}</p>
        </div>
    </div>
    <div class="weui-dialog__ft">
        <a href="javascript:;" (click)="cancel()" class="weui-dialog__btn weui-dialog__btn_cancel">取消</a>
    </div>
</div>
