<ion-content [fullscreen]="true" appScrollbarTheme>
  <app-loading *ngIf="!plans || loading"></app-loading>
  <app-empty *ngIf="(plans && plans.length === 0) && !loading"></app-empty>
  <ul *ngIf="(plans && plans.length > 0) && !loading" class="plans">
    <li (click)="changePlan(item)" *ngFor="let item of currentPageData(times,page)" [class.curr]="item?.uidPlan === plan?.uidPlan" [ngStyle]="{'height':(height / 8) + 'px'}">
      <span *ngIf="item | dateTag" class="tag-time">{{item | dateTag}}</span>
      <div *ngIf="item" class="item-box">
        <div class="item-content">
          <span class="plan-time">{{item.posStartTime | repairDate | date : 'HH:mm'}}</span>
          <h2>{{item.posMovieNameShort}}</h2>
          <p>
            <span class="lan">{{item.posMovieLan}}</span><span class="publish">{{item.planMoviePublish}}</span>
            {{item.hallName}} (售<span style="color: yellow">{{item.posSeatSold}}</span>座)
          </p>
        </div>
      </div>
      <!--<ion-grid>
        <ion-row>
          <ion-col size="4" style="align-self: center;text-align: center">
            <span class="time">{{item.posStartTime | date : 'HH:mm'}}</span>
          </ion-col>
          <ion-col size="8">
            <div *ngIf="item" class="item-box">
              <div class="item-content">
                <h2>{{item.posMovieNameShort}}</h2>
                <p>
                  <span class="lan">{{item.posMovieLan}}</span><span class="publish">{{item.planMoviePublish}}</span>
                  {{item.hallName}} (余<span style="color: yellow">{{item.posSeatLeft}}</span>座)
                </p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>-->
    </li>
  </ul>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      <pagination [page]="page" (change)="pageChange($event)"></pagination>
    </ion-title>
    <ion-buttons *ngIf="!authSvc.role('702')" slot="end">
      <ion-button>
        <i (click)="expand()" class="pos-font pos_expand"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
