label {
  margin: 7px 0;
  display: block;
  font-size: 16px;
  span {
    color: #E1343A;
    &.big {
      font-size: 28px;
    }
  }
  input{
    height: 30px;
    padding: 5px 10px;
  }
}

app-keyboard-number {
  &::ng-deep {
    ion-grid {
      background: #F9F9F9;
      border-radius: 4px;
      border: 1px solid #979797;
    }
  }
}

nz-table {
  margin: 10px;
  .actions {
    white-space: nowrap;
    button {
      margin: 0 5px;
    }
  }
}

nz-pagination {
  margin: 0 10px 10px;
  text-align: right;
  &::ng-deep {
    .ant-pagination-total-text {
      float: left;
    }
  }
}

.cart-price{
  ion-label{
    font-size: 14px;
  }
  ion-note {
    font-size: 16px;
    padding: 0px 6px 0px 3px;
    color:  #000;
  }
  .label-ds{
    font-size: 16px;
    font-weight: 600;
  }
  .amount {
    color: #E1343A;
  }
  .total {
    font-size: 16px;
    color: #E1343A;
  }
}