<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-button>
        <i class="pos-font pos_expand"></i>
      </ion-button>-->
      <ion-button (click)="prev()">
        <ion-icon name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="next()">
        <ion-icon name="chevron-forward-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="reload()">
        <ion-icon name="reload"></ion-icon>
      </ion-button>
    </ion-buttons>
    <form [formGroup]="form" style="display: none">
    </form>
    <ion-title>
      <span>{{form.get('date').value | day : true}}</span>
      {{this.form.get('date').value | date : 'yyyy-MM-dd'}} {{this.form.get('date').value | week}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false">
  <app-ticket-plans-type-film [loading]="loading" class="ion-page animate__animated" [plans]="plans" *ngIf="plans"></app-ticket-plans-type-film>
  <!--<app-ticket-plans-type-hall [loading]="loading" (askForFull)="presentFullModal($event)" class="ion-page animate__animated" [plans]="plans" *ngIf="plans && type === 'hall'"></app-ticket-plans-type-hall>
  <app-ticket-plans-type-time [loading]="loading" (askForFull)="presentFullModal($event)" class="ion-page animate__animated" [plans]="plans" *ngIf="plans && type === 'time'"></app-ticket-plans-type-time>-->
</ion-content>
