<ion-header>
  <ion-toolbar>
    <ion-title>重置会员密码</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" nz-form style="margin-top: 50px;">
    <ion-grid>
      <ion-row>
        <ion-col>新密码:</ion-col>
        <ion-col size="6">
          <nz-form-item>
            <nz-form-control [nzErrorTip]="form.get('newPassword').hasError('required') ? '请输入新密码' : '密码只能由六位数字组成'">
              <nz-input-group nzSize="large" nzSearch [nzAddOnAfter]="suffixButton">
                <input nzSize="large" type="password" formControlName="newPassword" nz-input placeholder="输入卡号按回车键或读卡" />
              </nz-input-group>
              <ng-template #suffixButton>
                <button nz-button nzType="default" nzSize="large" nzSearch (click)="startup('newPassword')">启动密码输入</button>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="8"></ion-col>
        <ion-col size="2">
          <ion-button (click)="dismiss()" fill="outline" color="primary" expand="block">取消</ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button (click)="confirm()" color="primary" expand="block">确定</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
