.map-conact-form-area {
  width: 1140px;
  margin: 100px auto;
  font-size: 16px;

  input, textarea {
    width: 100%;
    font-size: 16px;
  }
}

ion-footer {
  font-size: 14px;

  ion-toolbar {
    --background: #14b1bb;

    .footer-text {
      font-size: 12px;
      line-height: 24px;
      padding: 20px 0;
      color: #fff;
      text-align: center;

      p {
        margin: 0;

        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

ion-list-header {
  margin: 0 0 24px 0;
}
