<app-header [name]="'信息发布'" [scrollTop]="scrollTop"></app-header>

<ion-content [scrollEvents]="true" (ionScroll)="ionScroll($event)" [fullscreen]="true">
    <div class="map-conact-form-area fix">
        <div class="contact-form-and-info">
            <div class="contact-form white-bg fix pr-125 pl-125 pt-40 pb-35">
                <form nz-form [formGroup]="form">
                    <ion-grid>
                        <ion-row>
                            <ion-col size="12">
                                <nz-steps [nzCurrent]="0">
                                    <nz-step nzTitle="提交资料"></nz-step>
                                    <nz-step nzTitle="资料审核"></nz-step>
                                    <nz-step nzTitle="上线审核"></nz-step>
                                    <nz-step nzTitle="信息上线"></nz-step>
                                </nz-steps>
                            </ion-col>
                            <ion-col size="12">
                                <ion-list-header lines="inset">影院信息</ion-list-header>
                            </ion-col>
                            <ion-col size="6">
                                <nz-form-item>
                                    <nz-form-label nzRequired [nzSpan]="6">影院名称</nz-form-label>
                                    <nz-form-control nzErrorTip="请输入影院名称!" [nzSpan]="14">
                                        <input (blur)="blur('name')" type="text" formControlName="name" nz-input id="name">
                                    </nz-form-control>
                                </nz-form-item>
                            </ion-col>
                            <ion-col size="6">
                                <nz-form-item>
                                    <nz-form-label nzRequired [nzSpan]="6">影院编码</nz-form-label>
                                    <nz-form-control nzErrorTip="请输入影院编码!" [nzSpan]="14">
                                        <input (blur)="blur('code')" type="text" nz-input formControlName="code" id="code">
                                    </nz-form-control>
                                </nz-form-item>
                            </ion-col>
                            <ion-col size="6">
                                <nz-form-item>
                                    <nz-form-label nzRequired [nzSpan]="6">省</nz-form-label>
                                    <nz-form-control nzErrorTip="请输入省!" [nzSpan]="14">
                                        <input (blur)="blur('province')" type="text" nz-input formControlName="province" id="province">
                                    </nz-form-control>
                                </nz-form-item>
                            </ion-col>
                            <ion-col size="6">
                                <nz-form-item>
                                    <nz-form-label nzRequired [nzSpan]="6">市</nz-form-label>
                                    <nz-form-control nzErrorTip="请输入市!" [nzSpan]="14">
                                        <input (blur)="blur('city')" type="text" nz-input formControlName="city" id="city">
                                    </nz-form-control>
                                </nz-form-item>
                            </ion-col>
                            <ion-col size="12">
                                <ion-list-header lines="inset">主体信息</ion-list-header>
                            </ion-col>
                            <ion-col size="6">
                                <nz-form-item>
                                    <nz-form-label nzRequired [nzSpan]="6">企业名称</nz-form-label>
                                    <nz-form-control nzErrorTip="请输入企业名称!" [nzSpan]="14">
                                        <input (blur)="blur('company_name')" type="text" nz-input formControlName="company_name">
                                    </nz-form-control>
                                </nz-form-item>
                            </ion-col>
                            <ion-col size="6">
                                <nz-form-item>
                                    <nz-form-label nzRequired [nzSpan]="6">营业执照注册号</nz-form-label>
                                    <nz-form-control nzErrorTip="请输入营业执照注册号!" [nzSpan]="14">
                                        <input (blur)="blur('company_no')" type="text" nz-input formControlName="company_no">
                                    </nz-form-control>
                                </nz-form-item>
                            </ion-col>
                            <ion-col size="6">
                                <nz-form-item>
                                    <nz-form-label nzRequired [nzSpan]="6">电话</nz-form-label>
                                    <nz-form-control nzErrorTip="请输入电话!" [nzSpan]="14">
                                        <input (blur)="blur('phone')" type="text" nz-input formControlName="phone">
                                    </nz-form-control>
                                </nz-form-item>
                            </ion-col>
                            <ion-col size="6">
                                <nz-form-item>
                                    <nz-form-label nzRequired [nzSpan]="6">地址</nz-form-label>
                                    <nz-form-control nzErrorTip="请输入地址!" [nzSpan]="14">
                                        <input (blur)="blur('address')" type="text" nz-input formControlName="address" id="address">
                                    </nz-form-control>
                                </nz-form-item>
                            </ion-col>
                            <ion-col size="6">
                                <div class="clearfix">
                                    <nz-form-item>
                                        <nz-form-label nzRequired [nzSpan]="6" nzFor="name">营业执照</nz-form-label>
                                        <nz-form-control nzErrorTip="请上传营业执照!" [nzSpan]="14">
                                            <input type="hidden" nz-input formControlName="license">
                                            <nz-upload [nzCustomRequest]="customLicenseRequest" nzListType="picture-card"
                                                       [(nzFileList)]="fileLicenseList" [nzShowButton]="fileLicenseList?.length < 1">
                                                <div>
                                                    <span nz-icon nzType="plus"></span>
                                                    <div style="margin-top: 8px">Upload</div>
                                                </div>
                                            </nz-upload>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </ion-col>
                            <ion-col size="6">
                                <div class="clearfix">
                                    <nz-form-item>
                                        <nz-form-label nzRequired [nzSpan]="6" nzFor="name">放映许可证</nz-form-label>
                                        <nz-form-control nzErrorTip="请上传放映许可证!" [nzSpan]="14">
                                            <input type="hidden" nz-input formControlName="permit">
                                            <nz-upload [nzCustomRequest]="customPermitRequest" nzListType="picture-card"
                                                       [(nzFileList)]="filePermitList" [nzShowButton]="filePermitList?.length < 1">
                                                <div>
                                                    <span nz-icon nzType="plus"></span>
                                                    <div style="margin-top: 8px">Upload</div>
                                                </div>
                                            </nz-upload>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </ion-col>
                            <ion-col size="12">
                                <ion-list-header lines="inset">上映电影发布</ion-list-header>
                            </ion-col>
                            <ion-col size="12">
                                <nz-form-item>
                                    <nz-form-label nzRequired [nzSpan]="3">名称</nz-form-label>
                                    <nz-form-control nzErrorTip="请输入名称!" [nzSpan]="21">
                                        <input (blur)="blur('contact_name')" type="text" nz-input formControlName="contact_name">
                                    </nz-form-control>
                                </nz-form-item>
                            </ion-col>
                            <ion-col size="6">
                                <nz-form-item>
                                    <nz-form-label nzRequired [nzSpan]="6">首映时间</nz-form-label>
                                    <nz-form-control nzErrorTip="请输入首映时间!" [nzSpan]="14">
                                        <nz-date-picker formControlName="contact_id"></nz-date-picker>
                                    </nz-form-control>
                                </nz-form-item>
                            </ion-col>
                            <ion-col size="6">
                                <nz-form-item>
                                    <nz-form-label nzRequired [nzSpan]="6">放映时间</nz-form-label>
                                    <nz-form-control nzErrorTip="请输入放映时间!" [nzSpan]="14">
                                        <nz-date-picker formControlName="contact_email"></nz-date-picker>
                                    </nz-form-control>
                                </nz-form-item>
                            </ion-col>
                            <ion-col size="12">
                                <nz-form-item>
                                    <nz-form-label nzRequired [nzSpan]="3">演员和简介</nz-form-label>
                                    <nz-form-control nzErrorTip="请输入演员和简介!" [nzSpan]="21">
                                        <textarea (blur)="blur('contact_phone')" type="text" nz-input formControlName="contact_phone"></textarea>
                                    </nz-form-control>
                                </nz-form-item>
                            </ion-col>
                            <ion-col size="1.5"></ion-col>
                            <ion-col size="9.5">
                                <label style="margin-bottom: 20px" nz-checkbox [(ngModel)]="remember" [ngModelOptions]="{standalone: true}">
                                    <span>我接受《<a (click)="presentAgreementModal().then()" href="javascript:;">广州璧和信息科技有限公司用户注册协议</a>》及《<a (click)="presentCopyrightModal().then()" href="javascript:;">广州璧和信息科技有限公司隐私政策</a>》</span>
                                </label>
                            </ion-col>
                            <ion-col size="1.5"></ion-col>
                            <ion-col size="9.5">
                                <button (click)="submit()" nz-button nzType="primary">信息发布</button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </form>
            </div>
        </div>
        <!--End of Contact Form ANd info-->
    </div>
</ion-content>
<app-footer></app-footer>
